<legend>User Registration</legend>

<div class="container p-3">
  <form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
    <div class="card-body">

      <div class="form-group">
        <label for="email">Email</label>
        <input id=email type="text" formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && f.email.errors}"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Provide Email Address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password"formControlName="password" class="form-control" [ngClass]="{'is-invalid':submitted && f.password.errors}"/>
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minLength">Password Must have at least 8 characters </div>
        <div *ngIf="f.password.errors.pattern">Password Must contain at least one uppercase or lowercase and at least one special character </div>

      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn-primary">Register User</button>
        <a [routerLink]="['/login']" class="btn-link">Already a User</a>
      </div>

    </div>
  </form>
</div>
